html{
  height: 100%;
}
body{
  width: 60%;
  background: url("../images/Cesar_QuiSuisJe.gif") no-repeat right whitesmoke;
}
header{
  height: 25vh;
}
main{
  height: 50vh;
  margin-top: 10vh;
}
footer{
  height: 15vh;
  
}

#contenu {
  background-color: white;
  border: 1px solid #BFBFBF;
  box-shadow: 10px 10px 10px 10px #aaaaaa;
}

form,table,body,img {
  margin: 0 auto;
}